  .h5 {
    font-size: 22px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    max-width: 300px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
