.half-rule {
  margin-left: 0;
  text-align: left;
  width: 50%;
}

.outer-div {
  display: flex;
  height: 170px;
  width: 300px;
  background-color: lightgray;
  justify-content: center;
}

.description {
  width: 95%;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 50%;
  line-height: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 80%;
  -webkit-box-orient: vertical;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  width: 140px;
  height: 40px;
}
