.rootContainer {
  padding-top: 80px;
  position: relative;
}

.mainContainer {
  position: relative;
  height: 90%;
  background-color: #f8f9fa;
  align-items: center;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  overflow: hidden;
}

.title {
  font-size: 34px;
}

.half-rule {
  margin-left: 0;
  text-align: left;
  width: 50%;
}

.outer-div {
  display: flex;
  width: 95%;
  background-color: lightgray;
  overflow: hidden;
  height: available;
}

.description {
  width: 95%;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 35%;
  line-height: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.success,
.secondary {
  width: 140px;
  height: 40px;
  font-size: 20px;
}

.success:hover {
  background-color: #036666 !important;
}
