.rootContainer {
  padding-top: 80px;
  position: relative;
}

.mainContainer {
  position: relative;
  height: 90%;
  background-color: #f8f9fa;
  align-items: center;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  overflow: hidden;
}

.title {
  font-size: 34px;
}

.half-rule {
  margin-left: 0;
  text-align: left;
  width: 50%;
}

.content {
  display: flex;
  height: calc(100% - 205px);
  flex: 1;
  overflow: auto;
}

.description {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  line-height: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 100%;
  vertical-align: middle;
  min-height: min-content;
}

.success,
.secondary {
  width: 140px;
  height: 40px;
  font-size: 20px;
}

.success:hover {
  background-color: #036666 !important;
}

@media only screen and (min-width: 500px) {
  .success,
  .secondary {
    width: 60px;
  }
}

@media only screen and (min-width: 600px) {
  .success,
  .secondary {
    width: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .success,
  .secondary {
    width: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .success,
  .secondary {
    width: 120px;
  }
}

@media only screen and (min-width: 1920px) {
  .content {
    width: 130px;
  }
}
